<devices>
  <device name="EL1502" vendor="0x00000002" product="0x05de3052" revision="0x00100000">
    <sync index="0" dir="0" watchdog="0">
    <pdo dir="1" name="CNT Inputs" index="0x00001a02">
      <entry name="Output functions enabled" index="0x00006020" subindex="0x00000001" bit_length="1" />
      <entry name="Status of output" index="0x00006020" subindex="0x00000002" bit_length="1" />
      <entry name="Set counter done" index="0x00006020" subindex="0x00000003" bit_length="1" />
      <entry name="Counter inhibited" index="0x00006020" subindex="0x00000004" bit_length="1" />
      <entry name="Status of input UD" index="0x00006020" subindex="0x00000005" bit_length="1" />
      <entry name="Status of input clock" index="0x00006020" subindex="0x00000006" bit_length="1" />
      <entry name="Sync Error" index="0x00001c32" subindex="0x00000020" bit_length="1" />
      <entry name="TxPDO Toggle" index="0x00001802" subindex="0x00000009" bit_length="1" />
      <entry name="Counter value" index="0x00006020" subindex="0x00000011" bit_length="32" />
    </pdo>
    </sync>
    <sync index="0" dir="0" watchdog="0">
    <pdo dir="0" name="CNT Outputs" index="0x00001602">
      <entry name="Enable output functions" index="0x00007020" subindex="0x00000001" bit_length="1" />
      <entry name="Set output" index="0x00007020" subindex="0x00000002" bit_length="1" />
      <entry name="Set counter" index="0x00007020" subindex="0x00000003" bit_length="1" />
      <entry name="Inhibit counter" index="0x00007020" subindex="0x00000004" bit_length="1" />
      <entry name="Set counter value" index="0x00007020" subindex="0x00000011" bit_length="32" />
    </pdo>
    </sync>
  </device>
  <device name="EK1101" vendor="0x00000002" product="0x044d2c52" revision="0x00110000">
    <sync index="0" dir="0" watchdog="0">
    <pdo dir="1" name="ID" index="0x00001a00">
      <entry name="ID" index="0x00006000" subindex="0x00000001" bit_length="16" />
    </pdo>
    </sync>
  </device>
  <device name="EL1004" vendor="0x00000002" product="0x03ec3052" revision="0x00100000">
    <sync index="0" dir="0" watchdog="0">
    <pdo dir="1" name="Channel 1" index="0x00001a00">
      <entry name="Input" index="0x00006000" subindex="0x00000001" bit_length="1" />
    </pdo>
    </sync>
    <sync index="0" dir="0" watchdog="0">
    <pdo dir="1" name="Channel 2" index="0x00001a01">
      <entry name="Input" index="0x00006010" subindex="0x00000001" bit_length="1" />
    </pdo>
    </sync>
    <sync index="0" dir="0" watchdog="0">
    <pdo dir="1" name="Channel 3" index="0x00001a02">
      <entry name="Input" index="0x00006020" subindex="0x00000001" bit_length="1" />
    </pdo>
    </sync>
    <sync index="0" dir="0" watchdog="0">
    <pdo dir="1" name="Channel 4" index="0x00001a03">
      <entry name="Input" index="0x00006030" subindex="0x00000001" bit_length="1" />
    </pdo>
    </sync>
  </device>
</devices>
