bin/*
configure/O.*
data
db
dbd
documentation/doxygen
etc/builder/*.pyc
etc/scripts/slave-types.txt
ethercatApp/Db/O.*
ethercatApp/opi/edl/O.*
ethercatApp/opi/symbol/O.*
ethercatApp/protocol/O.*
ethercatApp/rtutilsSrc/O.*
ethercatApp/scannerSrc/O.*
ethercatApp/src/O.*
lib
include/*.h
*.pyc
